body {
	margin: 0;
}
.texto {
	width: 700px;
	height: 500px;
	background-color: #EEEEEE;
	color: red;
	font-size: 40px;
	font-family: Helvetica,Verdana,Arial;
	font-weight: 600; /* normal bold números*/
	text-align: center; 
	text-transform: lowercase; /* uppercase, lowercase */
	text-decoration: underline;
	margin: auto;
	margin-top: 20px;
	padding-top: 20px;
}