body {
	margin: 0;
}
.texto {
	width: 300px;
	height: 1000px;
	background-color: #EEEEEE;
	color: #FF0000;
	font-size: 20px;
	font-family: Helvetica,Verdana;
	font-weight: bold; /* normal bold números*/
	text-align: center; 
	text-decoration: underline;
	margin: auto;
	margin-top: 20px;
}
.flutuante {
	height: 100px;
	background-color: red;
	color: #FFFFFF;
	position: fixed; /* absolute fixed */
	right: 0px;
	bottom: 0px;
}